{% extends 'layout.html.twig' %}

{% block title %}404 non trouvée{% endblock %}

{% block body %}
    <div style="min-height: 720px">
    <div class="jumbotron mt-3 text-center align-middle">
        <h1 class="text-center">Page non trouvée</h1>
        <a href="/"><i class="fa fa-chevron-circle-left"></i> Retourner à la page d'accueil</a>
    </div>
    </div>
{% endblock %}