{% extends "layout.html.twig" %}

{% block title %}Mon Profil - {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1 class="mt-3 mb-3">Mon profil</h1>
    <div style="margin-bottom: 40%" class="row">
        <div class="col-sm-6 mb-3">
            <a href="/user/edit/{{ user.id_user }}" class="account-link">
            <div class="card border-secondary myaccount-card">
                <div class="card-body text-secondary">
                    <h5 class="card-title"><b>Mes informations personnelles</b></h5>
                    <p class="card-text"><small>Depuis cette page, vous pourrez gérer les informations de votre compte.</small></p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-6 mb-3">
            <a href="/user/article" class="account-link">
                <div class="card border-secondary myaccount-card">
                    <div class="card-body text-secondary">
                        <h5 class="card-title"><b>Voir mes articles</b></h5>
                        <small class="card-text">Ici, vous aurez la vue sur tous les articles créés avec votre compte.</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 mb-3">
            <a href="/article/add" class="account-link">
                <div class="card border-secondary myaccount-card">
                    <div class="card-body text-secondary">
                        <h5 class="card-title"><b>Ajouter un article</b></h5>
                        <small class="card-text">Ajoutez votre nouvel article, grâce à ce formulaire.</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 mb-3">
            <a href="/logout" class="account-link">
                <div class="card myaccount-card bg-danger">
                    <div class="card-body text-white">
                        <h5 class="card-title"><b><i class="fas fa-sign-out-alt"></i> Se déconnecter</b></h5>
                        <small class="card-text">Déconnectez vous de la plateforme</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}