{% extends "layout.html.twig" %}

{% block title %}Mon Profil - {{ user.firstname}} {{ user.lastname }}{% endblock %}

{% block body %}
    <h1>Mon profil</h1>
    <div class="card-deck">
        <a href="/user/edit/{{ user.id_user }}" class="account-link">
            <div class="card border-secondary mb-3" style="width: 350px;">
                <div class="card-body text-secondary">
                    <h5 class="card-title" style="font-size: 16px;"><b>Mes informations personnelles</b></h5>
                    <small class="card-text">Depuis cette page, vous pourrez gérer les informations de votre compte.
                    </small>
                </div>
            </div>
        </a>
        <a href="/user/article" class="account-link">
            <div class="card border-secondary mb-3" style="width: 350px">
                <div class="card-body text-secondary">
                    <h5 class="card-title" style="font-size: 16px;"><b>Voir mes articles</b></h5>
                    <small class="card-text">Ici, vous aurez la vue sur tous les articles créés avec votre compte.
                    </small>
                </div>
            </div>
        </a>
        <a href="/article/add" class="account-link">
            <div class="card border-secondary mb-3" style="width: 350px">
                <div class="card-body text-secondary">
                    <h5 class="card-title" style="font-size: 16px"><b>Ajouter un article</b></h5>
                    <small class="card-text">Ajoutez votre nouvel article, grâce à ce formulaire.
                    </small>
                </div>
            </div>
        </a>
        <a href="/logout" class="account-link">
            <div class="card border-secondary mb-3" style="width: 350px">
                <div class="card-body text-secondary">
                    <h5 class="card-title" style="font-size: 16px"><b>Se déconnecter</b></h5>
                </div>
            </div>
        </a>
    </div>
{% endblock %}