<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tableau de bord - Authentification</title>

    {# Bootstrap CSS link #}
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    {# FontAwesome Link #}
    <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css">
    {# CSS link #}
    <link href="/node_modules/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
</head>

<body class="bg-gradient-dark">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Tableau de bord</h1>
                                </div>
                                <form class="user" action="/admin/authentification" method="POST">
                                    <div class="form-group">
                                        <input name="connectionAdminEmail" type="email"
                                               class="form-control form-control-user" id="exampleInputEmail"
                                               aria-describedby="emailHelp" placeholder="Votre adresse email">
                                    </div>
                                    <div class="form-group">
                                        <input name="connectionAdminPasswd" type="password"
                                               class="form-control form-control-user" id="exampleInputPassword"
                                               placeholder="Mot de passe">
                                    </div>
                                    <input type="submit" name="connectionAdmin"
                                           class="btn btn-user btn-block shadow" value="Se connecter">
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/">Visiter le site</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>

</body>

</html>
